<!-- <mat-toolbar fxLayout="row" class="custom-toolbar" class="success">
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="50%">
    <span fxFlex class="logo">Organic Store</span>
  </div>

  <div fxLayout="row" fxLayoutAlign="end center" fxFlex="50%" class="menu-buttons">
    <button mat-button *ngFor="let item of menuItems" fxHide.xs>
      <mat-icon class="mr">{{item.icon}}</mat-icon>
      {{item.label}}
    </button>
    
    <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #dropMenu="matMenu">
      <ng-container *ngFor="let item of menuItems">
        <div mat-menu-item *ngIf="item.subItems && item.subItems.length > 0" [matMenuTriggerFor]="subMenu">
          <mat-icon class="mr">{{item.icon}}</mat-icon>
          {{item.label}}
          <mat-menu #subMenu="matMenu">
            <ng-container *ngFor="let subItem of item.subItems">
              <button mat-menu-item>{{subItem.label}}</button>
            </ng-container>
          </mat-menu>
        </div>
        <button mat-menu-item *ngIf="!item.subItems">
          {{item.label}}
        </button>
        <mat-divider *ngIf="item !== menuItems[menuItems.length - 1]"></mat-divider>
      </ng-container>
    </mat-menu>
  </div>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div> -->
<mat-toolbar class="success" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">

  <div fxLayout="row" fxLayoutAlign="start center" routerLink="/dashboard" style="cursor: pointer;">
    <span fxFlex class="logo">Organic Store</span>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" class="menu-buttons">
    <button mat-button [matMenuTriggerFor]="productsMenu" *ngIf="showAdminBoard">
      <mat-icon>donut_small</mat-icon> Products
    </button>
    <mat-menu #productsMenu="matMenu">
      <button mat-menu-item><mat-icon>add_circle</mat-icon> Add Product</button><mat-divider></mat-divider>
      <button mat-menu-item><mat-icon>edit_circle</mat-icon> Edit Product</button><mat-divider></mat-divider>
      <button mat-menu-item><mat-icon>delete_circle</mat-icon> Delete Product</button>
    </mat-menu>
  
    <!-- <mat-icon [matBadge]="badgeContent" matBadgeColor="warn" class="cart-icon" style="cursor: pointer;" (click)="addtocart()">shopping_cart</mat-icon> -->
   <!-- Use the new shopping cart component -->
   <app-shopping-cart-icon [badgeContent]="badgeContent" (cartClicked)="addtocart()"></app-shopping-cart-icon>

    <button mat-icon-button [matMenuTriggerFor]="profileMenu" class="profile-b" >
      <img src="../../assets/Fruits/apple.png" alt="Profile" class="profile-img">
    </button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item>Dashboard</button><mat-divider></mat-divider>
      <button mat-menu-item>Profile</button><mat-divider></mat-divider>
      <button mat-menu-item>Setting</button><mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">Log out</button>
    </mat-menu>
  </div>
</mat-toolbar>
<div class="container">
  
  <router-outlet></router-outlet>
</div>