/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
// $custom-green: mat-palette($mat-green);
// // Override the theme with the custom green
// $theme: mat-light-theme($custom-green);

// // Include the default Angular Material styles
// @include angular-material-theme($theme);
a {
  text-decoration: none;
  color: #f7f7f7;
}

label {
    display: block;
    // margin-top: 10px;
  }
  
  .card-container.card {
    max-width: 400px !important;
    padding: 40px 40px;
  }
  
  .card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }


 .bg-img {
  // background-image: url("");
  // background-repeat: no-repeat;
  background: linear-gradient(to right, #4CAF50, #2196F3); /* Adjust the color values as needed */
 }
.success {
  background-color: #4bb53f !important
}

.container {
  margin: 65px auto;
}

.mat-mdc-select-value {
  line-height: 2 !important;
}

// .mdc-text-field--filled:not(.mdc-text-field--disabled) {
//   background-color: none !important;
// }

.loginForm input {
  background-color: none !important;
}